<form action="/auth/login" method="POST" >
   <label> Username
      <input type="text" name="username" placeholder="jonh.deer@ironhack.com">
   </label>
   <label> Password
      <input type="password" name="password" placeholder="********" minlength="8">
   </label>

   <button type="submit">Login</button>
</form>



{{#if errorMessage}}
   {{errorMessage}}
{{/if}}